html {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

* {
    box-sizing: border-box;
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  html, body { font-size: 8px !important; }

  .HDLfront {
      max-width: 100%;
      height: auto;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
    }

  #header{ max-width:128rem; padding-left: 2rem; padding-right: 2rem; margin-left: auto; margin-right:auto; display:block;  }
  .logo { width: 80%; height:auto; float:left; padding-top: 3.3rem; padding-bottom: 3.3rem;}
  .logo img {width:60%; height:auto; }
  #navigation { width: calc(100% - 60.9rem); float:left;}
  #navigation {padding-left: 3rem; padding-right: 3rem; margin-top: 7.2rem;}
  #navigation ul {width:100%;}
  #navigation ul li { float: left; text-align: center; }
  #navigation ul li:first-of-type {width:14.5%;}
  #navigation ul li:nth-of-type(2) {width:30%;}
  #navigation ul li:nth-of-type(3) {width:21%;}
  #navigation ul li:nth-of-type(4) {width:14.5%;}
  #navigation ul li:last-of-type {width:20%;}
  #navigation ul li a, #navigation ul li a:link { font-size: 1.5rem; line-height: 1.8rem; font-weight: 300; text-transform: uppercase; color: black; padding-bottom: .4rem;}
  #navigation ul li a:hover, #navigation ul li a.selected { font-weight: 700; border-bottom: .5rem solid rgb(232, 32, 18); color: black;}

  /* mobile-navigation */
  #mobile-navigation { position: relative; padding-top: 4rem; }
  #mobile-navigation ul { margin: 0; padding: 0; list-style: none; overflow: hidden; background-color: #fff; z-index: 80000; }
  #mobile-navigation .btn .menu { display: none; }
  #mobile-navigation .btn:hover .menu { display: block; position:absolute; right:0; top:8.8rem; }
  #mobile-navigation li a { display: block;  background-color: #fff; color: rgb(232, 32, 18); letter-spacing: .1rem;
   text-decoration: none; font-size: 2.4rem; padding-bottom: .8rem; padding-left: 2rem; padding-right: 2rem; padding-top: .8rem; }
   #mobile-navigation  li  a.sub { display: block;  background-color: #fff; color: rgb(232, 32, 18); letter-spacing: .1rem;
   text-decoration: none; font-size: 2rem; padding-bottom: .8rem; padding-left: 4rem; padding-right: 2rem; padding-top: .8rem; }
  #mobile-navigation  li  a.sub:before { content:"– "; color:rgb(232, 32, 18);}
  #mobile-navigation li a:hover { background-color: rgb(232, 32, 18); color: #fff; }
  #mobile-navigation .btn-link { float: right; font-size: 3.2rem; color: rgb(232, 32, 18); line-height: 3.2rem; padding-bottom: 1rem; padding-left: 1rem;
      padding-right: 1rem; padding-top: 1rem;  }
  #mobile-navigation .btn-link:hover { color: #fff; }
  #mobile-navigation .navigation .menu { clear: both; }

  #navigation, #tablet-navigation { display:none; }


  .mobile {
    display: none;
  }

}

/*tablet porttrait*/
@media screen and (min-width: 768px) and (max-width: 927px) {

  html, body { font-size: 8px !important; }

  .HDLfront {
      max-width: 100%;
      height: auto;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
    }

  #header, #slider, #content, #accreditations, #footer, #map { max-width:128rem; padding-left: 4rem; padding-right: 4rem; margin-left: auto; margin-right:auto; display:block; height:15.6rem; }
  .logo { width: 41.5rem; height:auto; float:left; padding-top: 3.3rem; padding-bottom: 3.3rem;}
  .logo img {width:80%; height:auto; }
  #navigation { width: calc(100% - 60.9rem); float:left;}
  #navigation {padding-left: 3rem; padding-right: 3rem; margin-top: 7.2rem;}
  #navigation ul {width:100%;}
  #navigation ul li { float: left; text-align: center; }
  #navigation ul li:first-of-type {width:14.5%;}
  #navigation ul li:nth-of-type(2) {width:30%;}
  #navigation ul li:nth-of-type(3) {width:21%;}
  #navigation ul li:nth-of-type(4) {width:14.5%;}
  #navigation ul li:last-of-type {width:20%;}
  #navigation ul li a, #navigation ul li a:link { font-size: 1.5rem; line-height: 1.8rem; font-weight: 300; text-transform: uppercase; color: black; padding-bottom: .4rem;}
  #navigation ul li a:hover, #navigation ul li a.selected { font-weight: 700; border-bottom: .5rem solid rgb(232, 32, 18); color: black;}

  /* tablet-navigation */
  #tablet-navigation { position: relative; padding-top: 4rem; }
  #tablet-navigation ul { margin: 0; padding: 0; list-style: none; overflow: hidden; background-color: #fff; z-index: 80000; }
  #tablet-navigation .btn .menu { display: none; }
  #tablet-navigation .btn:hover .menu { display: block; position:absolute; right:0; top:8.8rem; }
  #tablet-navigation li a { display: block;  background-color: #fff; color: rgb(232, 32, 18); letter-spacing: .1rem; text-decoration: none; font-size: 2.4rem; padding-bottom: 1rem; padding-left: 2rem; padding-right: 2rem; padding-top: 1rem; }
  #tablet-navigation li a:hover { background-color: rgb(232, 32, 18); color: rgb(232, 32, 18); }
  #tablet-navigation .btn-link { float: right; font-size: 3.2rem; color: rgb(232, 32, 18); line-height: 3.2rem; padding-bottom: 1rem; padding-left: 1rem;
      padding-right: 1rem; padding-top: 1rem;  }
  #tablet-navigation .btn-link:hover { color: #fff; }
  #tablet-navigation .navigation .menu { clear: both; }

  #navigation, #mobile-navigation { display:none; }


  .mobile {
    display: none;
  }


}

/* tablet */
@media screen and (min-width: 928px) and (max-width: 1139px) {

  html, body { font-size: 8px !important;}

  .HDLfront {
      max-width: 100%;
      height: auto;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
    }

  #header { max-width:128rem; padding-left: 4rem; padding-right: 4rem; margin-left: auto; margin-right:auto; display:block; height:15.6rem; }
  .logo { width: 41.5rem; height:auto; float:left; padding-top: 3.3rem; padding-bottom: 3.3rem;}
  .logo img {width:80%; height:auto; }
  #navigation { width: calc(100% - 60.9rem); float:left;}
  #navigation {padding-left: 3rem; padding-right: 3rem; margin-top: 10.5rem;}
  #navigation ul {width:100%;}
  #navigation ul li { float: left; text-align: center; list-style-type: none;}
  #navigation ul li:first-of-type {width:18.5%;}
  #navigation ul li:nth-of-type(2) {width:22%;}
  #navigation ul li:nth-of-type(3) {width:20%;}
  #navigation ul li:nth-of-type(4) {width:18.5%;}
  #navigation ul li:last-of-type {width:21%;}
  #navigation ul li a, #navigation ul li a:link { font-size: 1.5rem; line-height: 1.8rem; font-weight: 300; text-transform: uppercase; color: black; padding-bottom: .4rem; text-decoration: none;}
  #navigation ul li a:hover, #navigation ul li a.selected { font-weight: 700; border-bottom: .5rem solid rgb(232, 32, 18); color: black;}
  #tablet-navigation, #mobile-navigation { display:none; }

  .telephone { width:19.4rem; font-size: 2rem; line-height: 4rem; text-align: center; font-weight: 700; float:left; margin-top: 9.5rem; color: rgb(232, 32, 18)}


}

/* desktop */
@media screen and (min-width: 1140px) {

  html, body { font-size: 9px !important;
  background-color: #F1F3F5;
  }

  .container {
      width: 85%;
      margin: 0 auto;
      background-color: white;
     }

  .HDLfront {
      max-width: 100%;
      height: auto;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
    }

  #header { max-width:128rem; padding-left: 4rem; padding-right: 4rem; margin-left: auto; margin-right:auto; display:block; height:15.6rem;}
  #content {margin-bottom: 4rem;}
  .logo { width: 41.5rem; height:auto; float:left; padding-top: 3.3rem; padding-bottom: 3.3rem;}
  .logo img {width:70%; height:auto; }
  #navigation { width: calc(100% - 60.9rem); float:left;}
  #navigation {padding-left: 0rem; padding-right: 3rem; margin-top: 10.5rem;}
  #navigation ul {width:100%;}
  #navigation ul li { float: left; text-align: center; list-style-type: none;}
  #navigation ul li:first-of-type {width:18.5%;}
  #navigation ul li:nth-of-type(2) {width:22%;}
  #navigation ul li:nth-of-type(3) {width:20%;}
  #navigation ul li:nth-of-type(4) {width:18.5%;}
  #navigation ul li:last-of-type {width:21%;}
  #navigation ul li a, #navigation ul li a:link { font-size: 1.5rem; line-height: 1.8rem; font-weight: 300; text-transform: uppercase; color: black; padding-bottom: .4rem; text-decoration: none;}
  #navigation ul li a:hover, #navigation ul li a.selected { font-weight: 700; border-bottom: .5rem solid rgb(232, 32, 18); color: black;}
  #tablet-navigation, #mobile-navigation { display:none; }
  .telephone { width:19.4rem; font-size: 2rem; line-height: 4rem; text-align: center; font-weight: 700; float:left; margin-top: 9.5rem; color: rgb(232, 32, 18)}

}
